@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700&family=REM:ital,wght@0,200;0,300;0,400;0,500;1,200&display=swap");

* {
  font-family: "Montserrat", sans-serif;
}

body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.btn {
  font-family: "Montserrat", sans-serif;
}
